@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #134074;
    --color-secondary: #13315C;
    --color-dark: #0B2545;
    --color-accent: #8DA9C4;
    --color-light: #EEF4ED;
    --font-logo: 'Exo 2', sans-serif;
}

@layer components {
    .nav-item {
        @apply text-sm p-2 rounded-lg;
    }

    .game-details-card {
        @apply w-full flex flex-col justify-center items-center gap-2 bg-dark rounded-lg p-4;
    }

    .game-details-card-team-name {
        @apply text-lg font-semibold text-center;
    }
}

@layer utilities {
    .active {
        @apply text-accent;
    }
}